<%= form_with model: [conversation, post], id: "form" do |form| %>

<div>
 <% form.object.errors.full_messages.each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<br>

 <%= form.rich_text_area :body %>

 <%= form.submit %>

<% end %>
